div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 24%;
    height:350px;
}

div.gallery:hover {
    border: 1px solid #8a2022;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5%;
    text-align: center;
}